body {
    /*background: #F5F5F5; */
    background: #2196F3;
    margin: 0px;
    box-sizing: border-box;
    min-height: 100vh;
    border-bottom: solid 20px #1976d2;
}

h1 {
    font-family: Roboto;
}

.cardAccentBanner {
    background: #FF5252;
    height: 8px;
    border-radius: 8px 8px 0 0;
}

.prompt {
    font-family: Roboto;
    margin: 14px 0px 8px 0px;
    font-size: 16px;
}

.detail-prompt {
    font-family: Roboto;
    margin: 14px 0px 8px 0px;
    font-size: 14px;
    color: #616161;
}

.alignRight {
	float: right;
}

a {cursor: pointer;}